root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
# Esempi di regole ktlint personalizzate:
# ktlint_standard_max-line-length = off
# ktlint_standard_filename = disabled
# ktlint_standard_no-wildcard-imports = disabled
